
*{

    margin: 0;
}

a{
    text-decoration: none;
}
.header{
    background-color: #626BF2 ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}


.logo { 
    color:#ffffff;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav {
    display: flex;
    gap: 32px
}
.nav a {
    color:#ffffff;
    font-weight: 600;
    text-transform: uppercase;
    
}

/* hero*/

.hero img{
    width: 100%;
    height:100% ;
}

.section2{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.section div h2{
    text-transform: uppercase;
}

.section2 p {
    max-width: 400px;
    text-align: center;
}