.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e47c6;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
    position: relative;
}

.menu li:hover .submenu {
    display: block;
}

/* Estilos do submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}